form {
  padding: 10px 40px 30px 40px;
  border-radius: 20px;
  backdrop-filter: blur(15px);
}

.logo {
  display: flex;
  justify-content: center;
  margin: 0;
}

.sign-in {
  width: 70%;
}

label {
  color: black;
  font-weight: 600;
}

@media only screen and (min-width: 320px) and (max-width: 991px) {
  .container {
    margin-top: 50px;
  }
}

@media only screen and (min-width: 992px) and (max-width: 1200px) {
  .container {
    margin: 100px 0 0 90px;
  }
}

@media only screen and (min-width: 1201px) and (max-width: 1536px) {
  .container {
    margin: 0 0 0 100px;
    width: 100%;
    display: flex;
    justify-content: center;
  }

  form {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 20px 20px 20px;
    width: 60%;
  }
}

@media only screen and (min-width: 1537px) {
  .container {
    margin: 70px 0 0 270px;
    width: 100%;
    display: flex;
    justify-content: center;
  }

  form {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 20px 20px 20px;
    width: 60%;
  }
}
