<div class="container">
  <form
    [formGroup]="formularioRegistro"
    (ngSubmit)="enviarRegistro()"
    class="row g-3 d-flex"
  >
    <div class="logo">
      <img src="../../../assets/login.png" alt="logi-ico" />
    </div>
    <div class="fw-bold fs-4 d-flex justify-content-center">Sign Up</div>
    <div class="col-lg-6">
      <label for="inputNombre4">Nombre</label>
      <input
        type="text"
        class="form-control border border-secondary"
        id="inputNombre4"
        formControlName="nombre"
      />
    </div>
    <div class="col-lg-6">
      <label for="inputEmail4">Email</label>
      <input
        type="email"
        class="form-control border border-secondary"
        id="inputEmail4"
        formControlName="correo"
      />
    </div>
    <div class="col-lg-6">
      <label for="inputPassword4">Contraseña</label>
      <input
        type="password"
        class="form-control border border-secondary"
        id="inputPassword4"
        formControlName="contrasenia"
      />
    </div>
    <div class="col-lg-6">
      <label for="inputAddress">Teléfono</label>
      <input
        type="text"
        class="form-control border border-secondary"
        id="inputAddress"
        formControlName="telefono"
      />
    </div>
    <div class="col-xxl-6 d-flex justify-content-center mt-4">
      <button
        type="submit"
        class="btn btn-warning text-white fw-semibold sign-in"
      >
        Sign Up
      </button>
    </div>
    <div class="banner-registrar mt-4 d-flex justify-content-center">
      <div class="text-white fw-semibold text-center">
        <span>Don't have an account?</span>
        <button
          type="submit"
          class="btn btn-success fw-semibold"
          (click)="loginEnviar()"
        >
          Log in
        </button>
      </div>
    </div>
  </form>
</div>
