<a class="nav-link active me-3 text-warning" routerLink="/reserva"> ← Volver</a>
@for (dato of reserva; track $index) {
<ol class="list-group list-group-numbered">
  <li class="list-group-item">Nombre: {{ dato.nombre }}</li>
  <li class="list-group-item">Tipo Docuemnto: {{ dato.tipoDocumento }}</li>
  <li class="list-group-item">Documento: {{ dato.documento }}</li>
  <li class="list-group-item">FechaNacimiento: {{ dato.fechaNacimiento }}</li>
  <li class="list-group-item">PlanViaje: {{ dato.planViaje }}</li>
  <li class="list-group-item">FechaViaje: {{ dato.fechaViaje }}</li>
  <li class="list-group-item">NumeroEmergencia: {{ dato.numeroEmergencia }}</li>
  <li class="list-group-item">Marca: {{ dato.marca }}</li>
  <li class="list-group-item">Modelo: {{ dato.modelo }}</li>
  <li class="list-group-item">Año: {{ dato.anio }}</li>
  <li class="list-group-item">cilindraje: {{ dato.cilindraje }}</li>
  <li class="list-group-item">fechaRTM: {{ dato.fechaRTM }}</li>
  <li class="list-group-item">FechaSoat: {{ dato.fechaSoat }}</li>
  <li class="list-group-item">FechaTDR: {{ dato.fechaTDR }}</li>
</ol>
}
