<footer class="bg-warning">
  <div class="moto">
    <img src="../../../assets/icons8-moto-48.png" alt="moto" />
  </div>
  <div class="text-dark text-center fw-semibold">
    © 2024 MotoTravels Colombia
  </div>
  <div class="banner-icons">
    <a class="facebook" href="https://www.facebook.com/?locale=es_LA"
      ><img src="../../../assets/icons8-facebook-32.png" alt="facebook"
    /></a>
    <a class="youtube" href="https://www.youtube.com/"
      ><img src="../../../assets/icons8-youtube-32.png" alt="youtube"
    /></a>
    <a class="instagram" href="https://www.instagram.com/"
      ><img src="../../../assets/icons8-instagram-32.png" alt="instagram"
    /></a>
  </div>
</footer>
