.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

a {
  display: inline;
}

.boton-reserva {
  margin-bottom: 20px;
  font-size: 25px;
}

.banner-boton {
  display: flex;
  justify-content: center;
}

.banner {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card {
  margin-bottom: 20px;
  align-items: center;
  color: white;
  background: transparent;
  background-image: linear-gradient(
    -90deg,
    rgba(0, 0, 0, 0.5) 30%,
    rgba(0, 0, 0, 0.7) 100%
  );
}

.card-body > h5 {
  text-align: center;
}

.card-body > p {
  color: white;
  text-align: justify;
}

.divInformacion {
  margin-bottom: 20px;
  font-size: large;
  padding: 2% 2% 2% 2%;
  height: auto;
  border: 1px white;
  background-image: linear-gradient(
    -90deg,
    rgba(0, 0, 0, 0.5) 30%,
    rgba(0, 0, 0, 0.7) 100%
  );
}

.divInformacion > p {
  text-align: justify;
}

h2 {
  color: white;
  text-align: center;
}

li,
ol,
ul {
  color: white;
}

.banner-formulario {
  backdrop-filter: blur(15px);
  margin: 20px 0 30px 0;
  padding: 20px;
  border-radius: 10px;
}

label {
  font-weight: 800;
  color: aliceblue;
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .banner {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
  }
}

@media only screen and (min-width: 992px) and (max-width: 1200px) {
  .container {
    margin-left: 90px;
  }

  .banner {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
  }
}

@media only screen and (min-width: 1200px) and (max-width: 1536px) {
  .container {
    margin-left: 100px;
  }

  .banner {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
  }
}

@media only screen and (min-width: 1900px) {
  .container {
    margin-left: 290px;
  }

  .banner {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
  }
}
