iframe {
  width: 200px;
  height: 250px;
}

.banner {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  margin-bottom: 10px;
}

@media only screen and (min-width: 576px) and (max-width: 768px) {
  iframe {
    width: 400px;
    height: 250px;
  }

  .banner {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 992px) {
  iframe {
    width: 500px;
    height: 250px;
  }

  h1 {
    margin-left: 200px;
  }

  .banner {
    margin-left: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }
}
@media only screen and (min-width: 992px) and (max-width: 1200px) {
  iframe {
    width: 500px;
    height: 250px;
  }

  h1 {
    margin-left: 200px;
  }

  .banner {
    margin-left: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }
}

@media only screen and (min-width: 1200px) {
  iframe {
    width: 500px;
    height: 250px;
  }

  h1 {
    margin-left: 200px;
  }

  .banner {
    margin-left: 150px;
    flex-wrap: nowrap;
    align-items: center;
    gap: 20px;
  }
}
