<h1 class="text-warning text-center">Experiencias Únicas</h1>
<div class="banner">
  <iframe
    src="https://www.youtube.com/embed/WgmlQEUwKNk?si=NePqfXTGV1nOobev"
    title="YouTube video player"
    frameborder="0"
    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
    referrerpolicy="strict-origin-when-cross-origin"
    allowfullscreen
  ></iframe>
  <iframe
    src="https://www.youtube.com/embed/e0pTi7686DE?si=WviRCqY4ug3Bapd5"
    title="YouTube video player"
    frameborder="0"
    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
    referrerpolicy="strict-origin-when-cross-origin"
    allowfullscreen
  ></iframe>

  <iframe
    width="560"
    height="315"
    src="https://www.youtube.com/embed/uWdhu1POqAw?si=DE_cMJKC15FU71xk"
    title="YouTube video player"
    frameborder="0"
    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
    referrerpolicy="strict-origin-when-cross-origin"
    allowfullscreen
  ></iframe>
</div>
