<div class="banner-nav">
  <nav class="navbar navbar-expand-md navbar-expand-lg navbar-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="#"
        ><img class="logo" src="../../../assets/logo2.jpg" alt="logo"
      /></a>
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarNavAltMarkup"
        aria-controls="navbarNavAltMarkup"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-link active me-3 text-warning" routerLink="/inicio"
            >Inicio</a
          >
          <a class="nav-link me-3 text-warning" routerLink="/productos"
            >Productos</a
          >
          <a class="nav-link me-3 text-warning" routerLink="/experiencias"
            >Experiencias</a
          >
        </div>
      </div>
    </div>
  </nav>
  <div class="banner-login">
    <div class="me-2">
      @if (loginService.isLogin()) {
      <button hidden class="btn btn-warning text-white">
        <a class="nav-link" routerLink="/registrarse">SignUp</a>
      </button>
      }@else {
      <button class="btn btn-warning text-white">
        <a class="nav-link" routerLink="/registrarse">SignUp</a>
      </button>
      }
    </div>
    <div class="me-2">
      @if (loginService.isLogin()) {
      <a class="nav-link text-warning" routerLink="/privado"
        ><img src="../../../assets/icons8-moto-32.png" alt="" /> Mi perfil</a
      >
      }@else {
      <a hidden class="nav-link text-warning" routerLink="/privado"
        ><img src="../../../assets/icons8-moto-32.png" alt="" /> Mi perfil</a
      >
      }
    </div>
    <div class="me-2">
      @if (loginService.isLogin()) {
      <button
        type="button"
        class="btn btn-warning text-white p-1"
        (click)="loginService.logOut()"
      >
        LogOut
      </button>
      }@else {
      <button class="btn btn-warning text-white">
        <a class="nav-link" routerLink="/iniciar-sesion">Login</a>
      </button>
      }
    </div>
  </div>
</div>
