<nav class="navbar navbar-expand-lg navbar-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="#"
      ><img class="logo" src="../../../assets/logo2.jpg" alt="logo"
    /></a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNavAltMarkup"
      aria-controls="navbarNavAltMarkup"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link active me-3" routerLink="/inicio">Inicio</a>
        <a class="nav-link me-3" routerLink="/productos">Productos</a>
        <a class="nav-link me-3" routerLink="/nosotros">Nosotros</a>
        <a class="nav-link me-3" routerLink="/contacto">Contacto</a>
        <a class="nav-link me-3" routerLink="/registrarse">Sign Up</a>
        <a class="nav-link me-3" routerLink="/iniciar-sesion">Log in</a>
        <a class="nav-link me-3" routerLink="/privado">MotoTravels</a>
      </div>
    </div>
  </div>
</nav>
