<div class="banner-principal">
  @if (isLoading) {
  <div
    style="height: 400px"
    class="d-flex justify-content-center align-items-center"
  >
    <div class="spinner-border text-warning" role="status">
      <span class="visually-hidden">Loading...</span>
    </div>
  </div>
  }@else {
  <form
    [formGroup]="formulariocredenciales"
    (ngSubmit)="manejarEnvio()"
    class="needs-validation"
  >
    <div class="mb-4">
      <img class="logo" src="../../../assets/login.png" alt="logi-ico" />
      <div class="fw-bold fs-4">Login</div>
    </div>
    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label fw-semibold text-black"
        >Usuario</label
      >
      <input
        type="text"
        class="form-control border border-secondary"
        id="exampleInputEmail1"
        aria-describedby="emailHelp"
        formControlName="usuario"
      />
    </div>
    <div class="mb-3">
      <label
        for="exampleInputPassword1"
        class="form-label fw-semibold text-black"
        >Password</label
      >
      <input
        type="password"
        class="form-control border border-secondary"
        id="exampleInputPassword1"
        formControlName="password"
      />
    </div>
    <button type="submit" class="btn btn-warning text-dark fw-semibold">
      Log In
    </button>

    <div class="banner-registrar mt-5">
      <div class="text-white fw-semibold banner">
        <span class="me-2">Don't have an account?</span>
        <button
          type="submit"
          class="btn btn-success fw-semibold text-dark"
          (click)="signUpEnvio()"
        >
          Sign Up
        </button>
      </div>
    </div>
  </form>
  }
</div>
